.home {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    /* height: 100vh; */
    /* border-style: solid; */
}

.home-score {
    width: 300px;
    height: 500px;
    border-style: solid;
    border-width: thin;
    transform: translateY(30%);
    overflow-y: scroll;
}

.home-score-user {
    padding: 10px;
}

.home-question {
    transform: translate(50%, 20%);
}

.home-score-top {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    border-bottom-style: dashed;
    border-bottom-width: thin;
}

.answered-card {
    width: 200px;
    height: 500px;
    transform: translate(385%, 30%);
    transition-duration: 500ms;
    border-style: solid;
    border-width: thin;
    float: right;
}

.answered-arrow {
    float: left;
    transform: translateX(-120%);
}

.hide-answered-card {
    width: 200px;
    height: 500px;
    border-style: solid;
    border-width: thin;
    float: right;
    transform: translate(465%, 30%);
    transition-duration: 500ms;
}

.answered-card-top {
    padding: 5px 0 5px 0;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 5px;
    border-bottom-style: dashed;
    border-bottom-width: thin;
}

.answered-card-empty {
    text-align: center;
    line-height: 30px;
    margin-top: 50px;
}